@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Seneca Music company</h1>
    <p class="lead">Seneca Music company that provides a user friendly application that user can log in with theirprevilages and they can add Artist, Albums, Tracks.</p>
    <p><a href=""http://mamin26-wa2017a9.azurewebsites.net"  target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About this Company</h2>
        <p>Seneca Music Company's application resolve all music business problem domain.</p>
        <p>Users can add media items according to thier Artistd</p>
        <p>This application presents all security principals </p>
    </div>
    <div class="col-md-4">
        <h2>Features</h2>
        <p>This application provides<b>Edit</b><b>Delete</b><b>Create</b>options to add more informations</p>
        <p>All users have different previlages to handle data.</p>
    </div>
</div>